body {
  background-color: azure;
}

.container_ {
  width: 90%;
  margin: 0 auto;
  margin-top: 50px;
}

.box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90px;
  height: 90px;
  margin: 5px;
  background-color: bisque;
}

.bgRed {
  background-color: brown;
  color: white;
}

.bgYellow {
  background-color: yellow;
}

.bgGreen {
  background-color: green;
  color: white;
}

h1 {
  text-align: center;
  margin-top: 50px;
}