.container_ {
  width: 90%;
  margin: 0 auto;
  margin-top: 100px;
}

.box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90px;
  height: 90px;
  margin: 5px;
  background-color: bisque;
}

.bgRed {
  background-color: brown;
}

.bgYellow {
  background-color: yellow;
}

.bgGreen {
  background-color: green;
}